.up h1{
    font-size: 3rem;
}
.up input{
    height: 8vh;
    width: 100%;
    border-radius: 10px;
    font-size: 2rem;
}
.mid h2{
    font-size: 2.5rem;
    font-weight: 100;
}
.mid label{
    font-size: 2rem;
}
input[type=radio]{
    margin-right: 3vh;
    margin-left: 2vh;
}
.radio{
    height: 2vh;
    width: 2vh;
}
.down input{
    height: 8vh;
    width: 100%;
    border-radius: 10px;
    font-size: 2rem;   
}
form{
    width: 55vh;
    padding: 3vh;
    border: 10px solid #eeebeb;
}
.down{
    margin-top: 4vh;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.last button{
    margin-top: 5vh;
    width: 20vh;
    font-size: 3vh;
    background-color: #3f51b5;
    color: white;
}
.last{
    display: flex;
    flex-direction: column;
}
.last h4{
    font-size: 2rem;
    font-weight: 200;
}

select {
  font-size: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 5px;
}

select {
  width: 150px;
  height: 60px;
}

select:last-child {
  width: 200px;
}
label{
    font-size: 2rem;
}