.both{
    border: 1px solid rgba(0, 0, 0, 0.12);    
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    gap:3vh;
    padding: 1em;
    background-color: white;
}
.both h1{
    font-size: 40px;
    margin-top: 25px;
    color: black;
}
.a{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    width: 80vw;
    gap: 40px;
    margin-left: 32.5em;
    margin-bottom: 3em;
}
.up{
    display: flex;
    flex: 1;
    flex-flow: column nowrap;
    justify-content: space-between  ;
    gap: 30px;
    width: 16vw;    
    height: 58vh;
}
.up p{
    font-size: 30px;
    color: rgba(0, 0, 0, 0.54);
    width: 100%;
}
.low{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.low h2{
    font-weight: 100;
    width: 20vw;
    font-size: 23px;
}
.lower{
    display: flex;
    gap: 40px;
}
.lower p{
    white-space: pre-wrap;
    width: 28vw;
}
@media (max-width: 400px) {

    .both h1{
        font-size: 20px;
    }
    .up p{
        font-size: 12px;
    }
    .low h2{
        font-size: 13px;
    }
    .lower{
        gap: 10px;
    }
    .low{
        gap: 10px;
    }
    .up{
        gap: 20px;
        width: 200px;
    }
    .a{
        justify-content: center;
        margin: 0;
    }
    .both{
        margin-left: 4rem;
    }
}