.all{
    background-color: #fafafa;
}
.g input{
    display: none;
}
.g h5{
    color: black;
    font-size: 3rem;
    text-align: end;
    margin-bottom: 5em;
}
.g h5:hover{
    color: blue;
    cursor: pointer;
}
.h h3{
    color: black;
    font-size: 2rem;
    position: relative;
    left: 19vw;
}
.g select{
    display: none;
}
.g button{
    display: none;
}
.g{
    margin-top: -8rem;
}
@media (max-width: 400px) { 
 .g h5{
    font-size: 1rem;
}
}