*{
    padding: 0;
    margin: 0;
}
.nav{
    background-color: white;
}
.nav button{
    width: 100%;
    height: 8vh;
    margin-right: 3em;
    background-color: transparent;
    font-size: 2rem;
}
.imge {
    padding: 2em;
    margin-left: 30em;
    width: 90vw;
}