.image p{
    font-size: 40px;
}
.he{
    padding-left: 5em;
    padding-top: 5em;
    background-color: #fafafa;
    display: flex;
    margin-left: 10rem;
}

.image{
    border: 1px solid rgba(0, 0, 0, 0.12);
    width: 48vh;
    height: 25vh;
    border-radius: 10px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    gap: 5vh;
    background-color: white;
    padding: 3em;
}
.mee h1{
    font-size: 80px;
    color:  #3f51b5;
    margin-bottom: 0.5em;
}
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
.mee{
    display:flex;
    flex-wrap:wrap;
    margin-top: 5em;
    margin-left: 1em;
}
.lee{
    width:18em;
    height:2.5em;
    background-color:#fafafa;
    font-size:30px;
    padding-left: 1em;
    border:1px solid #ccc;
    border-radius: 10px;
    margin-right: .5em;
}
#selector{
    width:3em; 
    border:1px solid #ccc;
    border-radius: 10px;
    height: 2.6em;
    font-size: 30px;
    background-Color:#fafafa;
    padding: 1rem;
}
.l{
    width: 30vw;
}
.em{
    width: 34vw;
}
@media (max-width: 400px) {
    .he{
        margin: 0;
        padding: 0;
        margin-top: 5em;
    }
    .image img{
        height: 100px;
    }
    .mee h1{
        font-size: 2em;  
        margin-left: 1em;
    }
    .em{
        display: none;
    }
    .image{
     padding: 1em;   
     width: 40vh;
     height: 22vh;
    }
    .image p{
        font-size: 1.2em;
    }
    .lee{
        width:13.5em;
        font-size: 1em;
        padding-left: 1em;
    }
    .mee{
        display: flex;
        justify-content: center;
        margin-top: 7em;
        margin-bottom: 1em;
    }
    .mee h1{
        padding-right: 3em;
        font-size: 2em;
        width: 100%;
    }
    #selector{
        width: 3.5em;
        font-size: 1em;
        margin-left: 1em;
    }
    
    }